@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary: #bc238b;
  --background-secondary: #13150f;
  --accent-primary: #A823BC;
  --accent-secondary: #111;
  --selection: var(--cyan);
  --text-base: #ffffff;
  --text-primary: #ffffff;
  --text-secondary: #6b755a;
}

[data-theme='dark'] {
  --background-primary: #090c05;
  --background-secondary: #13150f;
  --accent-primary: #b0f53e;
  --accent-secondary: #111;
  --selection: var(--cyan);
  --text-base: #ffffff;
  --text-primary: #ffffff;
  --text-secondary: #6b755a;
}

[data-theme='spotify'] {
  --background-primary: #0d120f;
  --background-secondary: #16221b;
  --accent-primary: #1cd064;
  --accent-secondary: #1cd064;
  --selection: var(--cyan);
  --text-base: #ffffff;
  --text-primary: #ffffff;
  --text-secondary: #577161;
}

[data-theme='blue'] {
  --background-primary: #040c0c;
  --background-secondary: #0a1c1d;
  --accent-primary: #4ce9e9;
  --accent-secondary: #4ce9e9;
  --selection: var(--cyan);
  --text-base: #ffffff;
  --text-primary: #ffffff;
  --text-secondary: #4d6b6b;
}

[data-theme='violet'] {
  --background-primary: #0f0c16;
  --background-secondary: #1d1727;
  --accent-primary: #b39ffe;
  --accent-secondary: #b39ffe;
  --selection: var(--cyan);
  --text-base: #ffffff;
  --text-primary: #ffffff;
  --text-secondary: #635c7c;
}

[data-theme='pink'] {
  --background-primary: #160511;
  --background-secondary: #301527;
  --accent-primary: #ef9ad5;
  --accent-secondary: #ef9ad5;
  --selection: var(--cyan);
  --text-base: #ffffff;
  --text-primary: #ffffff;
  --text-secondary: #86647b;
}

[data-theme='white'] {
  --background-primary: #ffffff;
  --background-secondary: #f0f0f0;
  --accent-primary: #0b0b0b;
  --accent-secondary: #0b0b0b;
  --selection: var(--cyan);
  --text-base: #0b0b0b;
  --text-primary: #0b0b0b;
  --text-secondary: #a6b2b9;
}

a {
  @apply text-blue-700 decoration-transparent;
}

a {
  text-decoration: none;
  border: none;
  color: inherit;
}

body {
  background-color: #000;
  font-family: "Poppins", sans-serif;
}

a:hover {
  @apply border-b border-brand;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.gradButton {
  @apply bg-gradient-to-r from-brand to-endBrand text-white text-xl font-medium;
}

.gradLinkNew {
  @apply bg-gradient-to-tr from-[#A823BC] to-brand  text-white text-xl font-medium;
}

.gradLink {
  @apply font-bold  to-purple-800 text-purple-700  bg-clip-text;
}

.text-xsm {
  @apply mt-1;
}
.gradSVG {
  color: #b223a4 !important;
}
.overflow-scroll::-webkit-scrollbar {
  display: none;
}

.row-container {
  @apply flex justify-between items-center;
}
.col-container {
  @apply flex justify-between items-center flex-col;
}

.gradText {
  background: linear-gradient(87.99deg, #a823bc 7.14%, #bc238b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.hr-lines {
  position: relative;
  max-width: 500px;
  margin: 2px auto;
  text-align: center;
  color: #9a9a9a;
}

.hr-lines:before {
  content: " ";
  height: 2px;
  width: 160px;
  background: #9a9a9a;

  display: block;
  position: absolute;
  top: 50%;
  left: 0;
}

.hr-lines:after {
  content: " ";
  height: 2px;
  width: 160px;
  background: #9a9a9a;

  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}

.rce-mbox-left-notch {
  display: none !important;
}
.rce-mbox-right-notch {
  display: none !important;
}

.rce-mbox {
  @apply !bg-chatGray text-white capitalize;
}
.rce-mbox-received > div {
  @apply bg-gradient-to-r from-brand to-endBrand text-white !capitalize;
}
.rce-citem {
  @apply !bg-chatGray !capitalize text-white;
}
.rce-citem-body--top-time {
  @apply !text-white;
}
.rce-citem-body--bottom-status > span {
  @apply !bg-gradient-to-r !from-brand !to-endBrand text-white text-xl font-medium;
}
.rce-mbox-sent {
  background: transparent !important;
}
